.custom-container{
	color : black;
}
.short-field {
    max-width: 350px;  
}
.custom-tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-icon {
    cursor: pointer;
    color: #54698d;
}

.custom-tooltip-content {
    visibility: hidden;
    opacity: 0;
    background: #16325c;
    color: white;
    text-align: left;
    padding: 6px 8px;
    border-radius: 4px;
    position: absolute;
    z-index: 9999;
    top: 22px;
    left: 0;
    width: 220px;
    font-size: 11px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);

    transition: opacity 0.2s ease-in-out;
}

/*  tooltip on hover */
.custom-tooltip-container:hover .custom-tooltip-content {
    visibility: visible;
    opacity: 1;
}
.slds-modal__content {
    max-height: 70vh;
    overflow-y: auto;
}
/* Make modal scrollable and responsive */
.modal-body {
    height: calc(100vh - 140px) !important;
    overflow-y: auto !important;
}


/* Fix full-screen mobile modal */
@media only screen and (max-width: 480px) {
    .slds-modal__container {
        height: 100vh !important;
        max-height: 100vh !important;
    }

    .modal-body {
        max-height: 78vh !important;
    }
}
.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9998;
    background: rgba(0,0,0,0.4);
}
.slds-modal {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 100000 !important;
}
.modal-overlay {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    background: rgba(0,0,0,0.4);
}