.custom-container {
    color: black;
}

.section {
    background-color: #ffffff;   /* white background */
    padding: 0.5rem;
    font-weight: bold;
    margin: 0.5rem 0;
    font-size: 1.25rem;          /* increase font size */
}


/* Fixed footer */
.custom-footer {
    position: sticky;
    bottom: 0;
    background: white;
    z-index: 10;
    border-top: 1px solid #d8dde6;
    width: 100% !important;
}

.custom-body {
    overflow-y: auto;
    padding: 0.5rem; /* reduced padding */
    bottom: 0;
    padding-bottom: 0rem;
}

/* Remove extra gap between layout items */
lightning-layout-item {
    padding: 0 0.25rem; /* minimal horizontal gap */
    margin: 0 !important;
}

/* Tighter spacing between inputs */
lightning-input {
    margin-bottom: 0.6rem;
}